div
{
    border: 2px solid green;
}

body{
font-family: Nova Square, Rajdhani;
}

.logo
{
    width: 30px;
}

a
{
text-decoration: none;
color: black;
}
p
{
font-style: italic;
}
h3
{
    padding-left: 0px ;
}

#main span
{
    color:red;
    font-size: xx-large;
}
.bottom-red
{
border-bottom: 2px solid red;
}
.header-custom{
height: 100vh;
background-image: linear-gradient(white,rgba(255, 255, 255, 0)), url(./media/switzerland-862870_1920.jpg);
background-position: center;
background-size: cover;
}
#lorem
{
border: 1px solid red;
padding: 5px 50px;
background-color: red;
color: white;
margin-top: 350px;
}
#left_red_border
{
border-left: 2px solid red;
background-image: url(./media/single.png);
background-repeat: no-repeat;
background-position: right;
}

#nored

{
    border: 1px solid green;
}



#circles
{
height: 200px;
width: 200px;
border: 1px solid red;
border-radius: 50%;
background-image: url(./media/mountain-547363_1920.jpg);
background-position: center;
background-size: cover;

}
div{
    border: 1px solid green;
}










